

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="updateRates()">Update Rates</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-currancy-list 
                [fees] = "fees"
                [rates] = "rates" 
                (onUpdate)="updateFee($event)" 
                (onDelete)="deleteFee($event)"
                >

</app-currancy-list>
        </div>
    </div>
</div>



